* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
    font-size: 18px;
}

header {
    width: 100%;
    margin: 0.1em 0 0.25em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert {
    width: 100%;
    padding: 0.5em 1em;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

p {
    margin: 1em 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 1em 0 0.1em 0;
}

form input, form button {
    display: block;
    width: 100%;
    height: 2em;
    font-size: 1em;
    padding: 0.25em;
}

form button {
    margin-top: 1em;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
